<%- include("partials/head.ejs", { headTitle: `${ user.name} | Books` })%>
<body>
	<%- include("partials/header.ejs") %>

	<main>
		<section>
			<h2 class="sr-only">Random Picks</h2>
			<div class="cards_display">
				<% friendsBooks.forEach((book) => { %>
				<div class="card">
					<div>
						<h3><a href="/detail/<%= book.id %>/book"><%= book.title %></a></h3>
						<div><a href="/detail/<%= book.author_id %>/author"><%= book.author %></a></div>
						<small>Owned by: <%= book.owner %></small>
					</div>

					<form action="/lends/request" method="post">
						<input type="hidden" name="book_id" value="<%= book.id %>">
						<input type="hidden" name="owner_id" value="<%= book.owner_id %>">
						<button>Borrow</button>
					</form>
				</div>
				<% }) %>
			</div>
		</section>

		<section>
			<h2>Search for a book within your friends</h2>
			<form action="/search" method="get" autocomplete="off">
				<%- include(
					'partials/input.ejs', { 
						labelText: 'Look for...', 
						name: 'q', 
						type: 'search',
					})
				%>
				<button>search</button>
			</form>
		</section>

		<section>
			<h2>My books</h2>
				<table>
					<tr>
						<th>Title</th>
						<th>Author</th>
						<th>Editorial</th>
						<th>Action</th>
					</tr>
					<% userBooks.forEach((book) => { %>
					<tr>
						<td><a href="/detail/<%= book.id %>/book"><%= book.title %></a></td>
						<td><a href="/detail/<%= book.author_id %>/author"><%= book.author %></a></td>
						<td><a href="/detail/<%= book.editorial_id %>/editorial"><%= book.editorial || "" %></a>
						</td>
					

						<td>
							<form action="/books/<%= book.id %>/remove" method="post">
								<button class="outline">remove from my library</button>
							</form>
						</td>
					</tr>
					<% }) %>
				</table>
		<section>

		<section>
			<h2>Add a new book to my library...</h2>
			<form action="/books/add" method="post" autocomplete="off">
				<%- include(
					'partials/inputDatalist.ejs', { 
						labelText: 'Book title', 
						name: 'title', 
						placeholder: 'The Craftsman',
						listName: 'titles',
						list: titles,
					})
				%>
				<button>Add</button>
			</form>
		</section>
	</main>

	<%- include("partials/footer.html") %>
</body>
</html>
