<%- include("partials/head.ejs", {headTitle: `${ user.name} | Dashboard` })%>
<body>
	<%- include("partials/header.ejs", { h1: `${user}'s dashboard ` } ) %>

	<main>
		<section>
		<h2>Active transactions</h2>
		<h3>Requests</h3>
			<table>
				<tr>
					<th>tansaction</th>
					<th>Title</th>
					<th>Author</th>
					<th>Owned by</th>
					<th>Action</th>
				</tr>
				<% requestsBooks.forEach((book) => { %>
				<tr>
					<td>
					<% if (book.owner_user_id === user.id) { %>
						Lend
					<% } else { %>
						Borrow
					<% } %>
					</td>

					<td><a href="/detail/<%= book.id %>/book"><%= book.title %></a></td>
					<td><a href="/detail/<%= book.author_id %>/author"><%= book.author %></a></td>
					<td><%= book.owner_user %></td>

					<td>
					<% if (book.owner_user_id === user.id) { %>
						Lend
					<% } else { %>
						<form action="/lends/cancel" method="post">
							<input type="hidden" name="lend_id" value="<%= book.lend_id %>">
							<button>Cancel request</button>
						</form>
					<% } %>
					</td>
				</tr>
				<% }) %>
			</table>


		<h3>Borrowed</h3>
		<div>
			<table>
				<tr>
					<th>Title</th>
					<th>Author</th>
					<th>Borrowed from</th>
					<th>action</th>
				</tr>
				<% borrowedBooks.forEach((book) => { %>
				<tr>
					<td><a href="/detail/<%= book.book_id %>/book"><%= book.title %></a></td>
					<td><a href="/detail/<%= book.author_id %>/author"><%= book.author %></a></td>
					<td><%= book.owner_user %></td>
					<td>
						<form action="/lends/<%= book.lend_id %>/return" method="post">
							<button>Return</button>
						</form>
					</td>
				</tr>
				<% }) %>
			</table>
		</div>

		<h3>Lended</h3>
		<div>
			<table>
				<tr>
					<th>Title</th>
					<th>Author</th>
					<th>Lended to</th>
					<th>action</th>
				</tr>
				<% lendedBooks.forEach((book) => { %>
				<tr>
					<td><a href="/detail/<%= book.book_id %>/book"><%= book.title %></a></td>
					<td><a href="/detail/<%= book.author_id %>/author"><%= book.author %></a></td>
					<td><%= book.to_user %></td>
					<td>
						<form action="/lends/<%= book.lend_id %>/askReturn" method="post">
							<button>Ask for return</button>
						</form>
					</td>
				</tr>
				<% }) %>
			</table>
		</div>

		</section>

		<section>
			<h2>My books</h2>
				<div>
					<table>
						<tr>
							<th>Title</th>
							<th>Author</th>
							<th>Category</th>
							<th>Editorial</th>
						</tr>
						<% userBooks.forEach((book) => { %>
						<tr>
							<td><a href="/detail/<%= book.id %>/book/"><%= book.title %></a></td>
							<td><a href="/detail/<%= book.author_id %>/author"><%= book.author %></a></td>
							<td><%= book.category || "" %></td>
							<td><a href="/detail/<%= book.editorial_id %>/editorial"><%= book.editorial || "" %></a>
							</td>
						</tr>
						<% }) %>
					</table>
				</div>
		</section>

	</main>

	<%- include("partials/footer.html") %>
</body>
</html>
