<%- include("partials/head.ejs", { headTitle: `${user.name} | Friends` })%>
<body>
	<%- include("partials/header.ejs", { h1: `${user.name}'s friends` } ) %>

	<main>
		<% if (friends.length !== 0) { %>
		<section>
		<div>
			<table>
				<tr>
					<th>Friend</th>
					<th>action</th>
				</tr>
				<% friends.forEach((friend) => { %>
				<tr>
					<td><a href="/friends/<%= friend.id %>/info"><%= friend.name %></a></td>
					<td>
						<form action="/friends/<%= friend.id %>/remove" method="post">
							<input type="hidden" name="friendId" value="<%= friend.id %>">
							<button>Remove friendship</button>
						</form>
					</td>
				</tr>
				<% }) %>
			</table>
		</div>
		</section>
		<% } else { %>
		<h2>You have no friends :(</h2>
		<% } %>

		<section>
		<h2>Make friends</h2>

		<% if (receivedRequests.length > 0) {%>

			<h3>Manage requets</h3>
			<% receivedRequests.forEach((request) => { %>
			<div>
				<p>From: <%= request.from_name %></p>
				<p><%= request.email %></p>
				<p><%= request.message %></p>
				<form action="/friends/<%= request.id %>/accept" method="post">
					<input type="hidden" name="requestId" value="<%= request.id %>">
					<input type="hidden" name="fromId" value="<%= request.from_id %>">
					<input type="hidden" name="toId" value="<%= request.to_id %>">
					<button>Accept</button>
				</form>
				<form action="/friends/<%= request.id %>/cancel" method="post">
					<input type="hidden" name="requestId" value="<%= request.id %>">
					<button>Deny</button>
				</form>
			</div>
			<% }) %>

		<% } %>

		<% if (sendedRequests.length > 0) { %>
			
			<h3>Sended requests</h3>
			<% sendedRequests.forEach((request) => { %>
			<div>
				<p>to: <%= request.to_name %></p>
				<p><%= request.message %></p>
				<form action="/friends/<%= request.id %>/cancel" method="post">
					<input type="hidden" name="requestId" value="<%= request.id %>">
					<button>Cancel request</button>
				</form>
			</div>
			<% }) %>

		<% } %>

		<h3>Add friend</h3>
			<form action="/friends/add" method="post">
				<label>Name
					<input type="text" name="name">
				</label>
				<label>Email
					<input type="email" name="email">
				</label>
				<label>Message
					<textarea name="message"></textarea>
				</label>
				<button>Send request</button>
			</form>
		</section>

	</main>

	<%- include("partials/footer.html") %>
</body>
</html>
