<%- include("partials/head.ejs", {headTitle: `${ search } | Search` })%>
<body>
	<%- include("partials/header.ejs") %>

	<main>
		<section>
			<h2>Search again</h2>
			<form action="/search" method="get">
				<%- include(
					'partials/input.ejs', { 
						labelText: 'Look for...', 
						name: 'q',
						value: search
					})
				%>
				<button>search</button>
			</form>
		</section>

		<section>
		<% if (foundBooks.length > 0) { %>
			<h2>Results for "<%= search %>":</h2>
				<table>
					<tr>
						<th>Title</th>
						<th>Author</th>
						<th>year</th>
						<th>Category</th>
						<th>editorial</th>
						<th>Owned by</th>
						<th>Action</th>
					</tr>
					<% foundBooks.forEach((book) => { %>
					<tr>
						<td><a href="/detail/<%= book.id %>/book"><%= book.title %></a></td>
						<td><a href="/detail/<%= book.author_id %>/author"><%= book.author %></a></td>
						<td><%= book.year %></td>
						<td><%= book.category || "" %></td>
						<td><a href="/detail/<%= book.editorial_id %>/editorial"><%= book.editorial %></a></td>
						<td><%= book.owner %></td>
						<td>
							<% if (["active", "requested"].includes(book.status)) { %>
								unavailable
							<% } else { %>
								<form action="/lends/request" method="post">
									<input type="hidden" name="book_id" value="<%= book.id %>">
									<input type="hidden" name="owner_id" value="<%= book.owner_id %>">
									<button>Borrow</button>
								</form>
							<% } %>
						</td>
					</tr>
					<% }) %>
				</table>
		<% } else { %>
			<h2>No books in your friend's libraries that match "<%= search %>":</h2>
		<% } %>
		</section>

	<%- include("partials/footer.html") %>
</body>
</html>
