<%- include("../partials/head.ejs", { headTitle: `${name} | edit author` })%>
<body>
	<%- include("../partials/header.ejs", { h1: `Edit ${name}'s data` } ) %>

	<main>
		<form action="/detail/<%= id %>/author/edit" method="post" autocomplete="off">
			<input type="hidden" name="id" value="<%= id %>">
			<%- include("../partials/input.ejs", {
				labelText: "Name",
				name: "name",
				value: name
			})%>
			<%- include("../partials/textarea.ejs", {
				labelText: "Bio",
				name: "bio",
				value: bio
			})%>
			<%- include("../partials/input.ejs", {
				labelText: "Extended information url",
				name: "url",
				value: url
			})%>
			<button>Update</button>
		</form>
	</main>

	<%- include("../partials/footer.html") %>
</body>
</html>
