<%- include("../partials/head.ejs", { headTitle: `${name} | Author` })%>
<body>
	<%- include("../partials/header.ejs", { h1: `${name}'s data` } ) %>

	<main>
		<p><%= bio %></p>
		<p>
			<% if (locals.url) { %>
			<a href="<%= url %>" target="_blank">read more</a> <br />
			<% } %>
			<a class="destructive" href="/detail/<%= id %>/author/edit">edit author data</a>
		</p>
	</main>

	<%- include("../partials/footer.html") %>
</body>
</html>
