<%- include("../partials/head.ejs", { headTitle: `${name} | Author` })%>
<body>
	<%- include("../partials/header.ejs", { h1: `${name}'s data` } ) %>

	<main>
		<p><%= bio %></p>
		<a href="<%= url %>" target="_blank">read more</a>
		<a href="/detail/<%= id %>/author/edit">edit author data</a>
	</main>

	<%- include("../partials/footer.html") %>
</body>
</html>
