<%- include("../partials/head.ejs", { headTitle: 'Add a book' })%>
<body>
	<%- include("../partials/header.ejs", { h1: `add '${title}' to your library` } ) %>

	<main>
		<% if (titleExist) { %>
			<h2>There are already some registers with that title in our database...</h2>

			<div class="cards_display">
			<% booksData.forEach((book) => { %>
				<div class="card">
					<p>Title: <strong><%= book.title %></strong><br />
					Author: <strong><%= book.author %></strong><br />
					Year: <strong><%= book.year %></strong><br />
					Editorial: <strong><%= book.editorial %></strong><br />
					Sinopsys: <strong><%= book.sinopsys %></strong><br /></p>
					<form action="/books/<%= book.id %>/add" method="post">
						<input type="hidden" name="book" value="<%= book.id %>">
						<button>Yes is this one</button>
					</form>
				</div>
			<% }) %>
			</div>
		<% } %>

		<h2>New tittle</h2>
		<form action="/books/new" method="post" autocomplete="off">
			<%- include(
				'../partials/input.ejs', { 
					labelText: 'Title', 
					name: 'title', 
					value: locals.title,
				})
			%>

			<%- include(
				'../partials/inputDatalist.ejs', { 
					labelText: 'Author', 
					name: 'author', 
					listName: 'authors',
					list: authors,
					value: locals.author,
				})
			%>

			<%- include(
				'../partials/input.ejs', { 
					labelText: 'Year', 
					name: 'year', 
					value: locals.year,
				})
			%>

			<%- include(
				'../partials/inputDatalist.ejs', { 
					labelText: 'Category', 
					name: 'category', 
					listName: 'categories',
					list: categories,
					value: locals.category,
				})
			%>

			<%- include(
				'../partials/inputDatalist.ejs', { 
					labelText: 'Editorial', 
					name: 'editorial', 
					listName: 'editorials',
					list: editorials,
					value: locals.editorial,
				})
			%>

			<%- include(
				'../partials/textarea.ejs', { 
					labelText: 'Sinopsys', 
					name: 'sinopsys', 
					value: locals.sinopsys,
				})
			%>

			<%- include(
				'../partials/input.ejs', { 
					labelText: 'Image', 
					name: 'image', 
					value: locals.image,
				})
			%>

			<%- include(
				'../partials/input.ejs', { 
					labelText: 'More info url', 
					name: 'url', 
					value: locals.url,
				})
			%>

			<button>Create book</button>
		</form>

	</main>

	<%- include("../partials/footer.html") %>
</body>
</html>
