<%- include("../partials/head.ejs", { headTitle: `${title} | Edit` })%>
<body>
	<%- include("../partials/header.ejs", { h1: `${title}'s data` } ) %>

	<main>
		<form action="/detail/<%= id %>/book/edit" method="post" autocomplete="off">
			<input type="hidden" name="id" value="<%= id %>">
			<%- include(
				'../partials/input.ejs', { 
					labelText: 'Title *', 
					name: 'title', 
					value: locals.title,
				})
			%>

			<%- include(
				'../partials/inputDatalist.ejs', { 
					labelText: 'Author *', 
					name: 'author', 
					listName: 'authors',
					list: locals.authors ?? [],
					value: locals.author,
				})
			%>

			<%- include(
				'../partials/input.ejs', { 
					labelText: 'Year *', 
					name: 'year', 
					value: locals.year,
				})
			%>

			<%- include(
				'../partials/inputDatalist.ejs', { 
					labelText: 'Category *', 
					name: 'category', 
					listName: 'categories',
					list: locals.categories ?? [],
					value: locals.category,
				})
			%>

			<%- include(
				'../partials/inputDatalist.ejs', { 
					labelText: 'Editorial *', 
					name: 'editorial', 
					listName: 'editorials',
					list: locals.editorials ?? [],
					value: locals.editorial,
				})
			%>

			<%- include(
				'../partials/textarea.ejs', { 
					labelText: 'Sinopsys', 
					name: 'sinopsys', 
					value: locals.sinopsys,
				})
			%>

			<%- include(
				'../partials/input.ejs', { 
					labelText: 'Image', 
					name: 'image', 
					value: locals.image,
				})
			%>

			<%- include(
				'../partials/input.ejs', { 
					labelText: 'More info url', 
					name: 'url', 
					value: locals.url,
				})
			%>

			<button>Actualizar</button>
		</form>
		<img src="<%= locals.image %>" alt="<%= title %>'s book cover">

	</main>

	<%- include("../partials/footer.html") %>
</body>
</html>
