<%- include("../partials/head.ejs", { headTitle: `${title} | Detail` })%>
<body>
	<%- include("../partials/header.ejs", { h1: `${title}'s data` } ) %>

	<main>
		<img src="<%= photo %>" alt="<%= title %>'s book cover">
		<h2>Technical sheet</h2>
		<ul>
			<li><a href="/detail/<%= author_id %>/author">Author: <%= author %></a></li>
			<li>Year: <%= year %></li>
			<li>Category: <%= category %></li>
			<li><a href="/detail/<%= editorial_id %>/editorial">Editorial: <%= editorial %></a></li>
		</ul>
		<h2>Resume</h2>
		<p><%= sinopsys %></p>
		<a href="<%= url %>" target="_blank">read more</a>

		<a href="/detail/<%= id %>/book/edit">edit book info</a>
	</main>

	<%- include("../partials/footer.html") %>
</body>
</html>
