<%- include("../partials/head.ejs", { headTitle: 'Add a book' })%>
<body>
	<%- include("../partials/header.ejs", { h1: `add '${title}' to your library` } ) %>

	<main>
		<% if (titleExist) { %>
			<h2>There are already some registers with that title in our database...</h2>

			<div class="cards_display">
			<% booksData.forEach((book) => { %>
				<div class="card">
					<p>Title: <strong><%= book.title %></strong><br />
					Author: <strong><%= book.author %></strong><br />
					Year: <strong><%= book.year %></strong><br />
					Editorial: <strong><%= book.editorial %></strong><br />
					Sinopsys: <strong><%= book.sinopsys %></strong><br /></p>
					<form action="/books/<%= book.id %>/add" method="post">
						<input type="hidden" name="book" value="<%= book.id %>">
						<button>Yes is this one</button>
					</form>
				</div>
			<% }) %>
			</div>
		<% } %>

		<h2>New tittle</h2>
		<form action="/books/new" method="post" autocomplete="off">
			<label>Title
				<input type="text" name="title" value="<%= title %>" required>
			</label>
			<label>Author
				<input list="authors" type="text" name="author" required>
				<datalist id="authors">
					<% authors.forEach((author) => { %> 
						<option>
							<%= author.name %>
						</option>
					<% }) %>
				</datalist>
			</label>
			<label>Year<input type="text" name="year" required></label>
			<label>Category
				<input list="categories" type="text" name="category" required>
				<datalist id="categories">
					<% categories.forEach((category) => { %> 
						<option>
							<%= category.category %>
						</option>
					<% }) %>
				</datalist>
			</label>
			<label>Editorial
				<input list="editorials" name="editorial" type="text" required>
				<datalist id="editorials">
					<% editorials.forEach((editorial) => { %> 
						<option>
							<%= editorial.name %>
						</option>
					<% }) %>
				</datalist>
			</label>
			<label>Sinopsys
				<textarea name="sinopsys" rows="5"></textarea>
			</label>
			<label>Image url<input type="url" name="image"></label>
			<label>More info url<input type="url" name="url"></label>

			<button>Create book</button>
		</form>

	</main>

	<%- include("../partials/footer.html") %>
</body>
</html>
