<%- include("../partials/head.ejs", { headTitle: `${name} | Editorial` })%>
<body>
	<%- include("../partials/header.ejs", { h1: `${name}'s data` } ) %>

	<main>
		<p><%= name %></p>
		<p>
			go to <a href="<%= url %>" target="_blank"><%= url %></a> <br/ >
			<a class="destructive" href="/detail/<%= id %>/editorial/edit">edit editorial</a>
		</p>
	</main>

	<%- include("../partials/footer.html") %>
</body>
</html>
