<h2><%= table.title || "" %></h2>
<div>
	<table>
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Category</th>
			<th>Owner</th>
			<th>Status</th>
		</tr>
		<% table.books.forEach((book, i) => { %>
		<tr>
			<td><a href="/book/<%= i %>/info"><%= book.title %></a></td>
			<td><a href="/author/<%= i %>/info"><%= book.author %></a></td>
			<td><%= book.category || "" %></td>
			<td><%= book.owner %></td>
			<td>
				<% if (table.borrowed === true) { %>
				<form action="/book/<%= i %>/return" method="post">
				<% } else  { %>
				<form action="/book/<%= i %>/borrow" method="post">
				<% } %>
					<button>Return</button>
				</form>
			</td>
		</tr>
		<% }) %>
	</table>
</div>
